<h3>Введите ваше любимое блюдо</h3>

<form action="/addhim/info" method="post">
  <input type="text" name="food" required>
  <input type="text" name="toofood">
  <button type="submit">Сохранить</button>
</form>
<a href="/allfood">Посмотреть ваш список</a>
