<h3>Registration</h3>

<form action="/reg" method="post">
  <input type="email" name="email" id="mail" required>
  <input type="password" name="pass" id="pass" required>
  <input type="password" name="passConfirm" id="passConfirm" required>
  <input type="hidden" name="rules" value=0>
  <button type="submit">Registration</button>
</form>

<h3>Sign in</h3>

<form action="/enter" method="post">
  <input type="email" name="email" required>
  <input type="password" name="pass" required>
  <button type="submit">Sign in</button>
</form>




<a href="/loguot">Get out</a>
